*{
    background: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background: blueviolet;
}

.carousel-container{
    width: 60%;
    margin: auto;
    background: white;
    height: 30vw;
    position: relative;
}

.prev,.next{
    position: absolute;
    border: 0;
    background: gray;
    font-size: 30px;
    cursor: pointer;
    margin-top: 30%;
    padding: 10px;
    border-radius: 50px;
    outline: none;
}

.prev{
    margin-left: 10px;
}

.next{
    right: 10px;
}

.carousel-img .item img{
    width: 100%;
}


.item .caption{
    position: absolute;
    bottom: 30px;
    width: 100%;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.3);
    height: 35px;
    display: none;
}

.item{
    display: none;
}

.main{
    display: block;
}
